@model TomGuitar1.Models.Guitar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guitar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuitarType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuitarType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuitarName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuitarName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuitarCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuitarCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuitarPicPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuitarPicPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuredValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuredValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
