@model IEnumerable<TomGuitar1.Models.Guitar>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuitarType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuitarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuitarCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuitarPicPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuredValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuitarType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuitarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuitarCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuitarPicPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuredValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
